spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/atlas_system_test
    username: postgres
    password: postgres
    hikari:
      maximum-pool-size: 5

logging:
  level:
    com.atlas: DEBUG

